<% include ../includes/header %>
   
    <div ng-app="soundsManager" ng-controller="soundsCtrl" class="container-fluid myContent">
        <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
            
            <div class="panel panel-primary">

                <div class="panel-heading">
                  <h3 class="panel-title">Gerenciador de sons</h3>
                </div>

                <div class="panel-body">

                    <p>Sons no repositório:</p>

                    <div class="col-12">
                       
                         <span style="margin: 1%" ng-repeat="s in sounds" 
                               class="btn btn-warning"  
                               ng-click="playAudio(s._id)" >{{s.name}}</span>
                        
                    </div>

                    <nav>
                      <ul class="pagination" style="margin-bottom: 0">
                        <li ng-click="prevPage()"><span aria-hidden="true">&laquo;</span></li>
                        <li class="active"><a href="#">{{page}}</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">{{totalPages}}</a></li>
                        <li ng-click="nextPage()"><span aria-hidden="true">&raquo;</span></li>
                      </ul>
                    </nav>

                    <hr/>

                    <p>Faça upload de sons para o repositório! </p>
                    
                    <div flow-init="{target: '/sounds/upload', 
                                    fileParameterName: 'sound',
                                    method: 'multipart',
                                    chunkSize: '30000000'}"
                         
                         flow-files-submitted="$flow.upload()"
                         flow-file-success="loadPage()">

                      <span class="btn btn-success" flow-btn>Fazer upload de som</span>
                                                    
                      <table style="margin-top: 2%;">
                        <tr ng-repeat="file in $flow.files">
                            <td style="color: green">{{file.name}} - OK</td>
                        </tr>
                      </table>
                    </div>

                </div>    
            </div>
            
        </div>
    </div>

<script src="/js/angular-media-player.min.js"></script>
<script src="/js/ng-flow-standalone.min.js"></script>
<script src="/js/soundsCtrl.js"></script>
<% include ../includes/footer %>