<!DOCTYPE html>
<html>
    <head>
        <title><%= settings.title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>        
        <h1><%= settings.title %></h1>
        
        <h1>This is my index</h1>
        
        <% include includes/header %>
        
        <h2><a href="#">Iniciar!</a></h2>
        
        <a href="/images">Gerenciar imagens</a>
        <br/>
         <a href="/sounds">Gerenciar sons</a>
    </body>
</html>