<% include ../includes/header %>
   
    <div ng-app="levelsManager" ng-controller="levelsCtrl" class="container-fluid myContent">
        <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
            
            <div class="panel panel-primary">

                <div class="panel-heading">
                  <h3 class="panel-title">Nível 1</h3>
                </div>

                <div class="panel-body">

                    <p>Escolha a imagem abaixo que representa o som:</p>

                </div>    
            </div>
            
        </div>
    </div>

<script src="/js/controllers/levelsCtrl.js"></script>
<% include ../includes/footer %>