<% include ../includes/header %>

    <div ng-app="levelsManager" ng-controller="levelsCtrl" class="container-fluid myContent">
        
      <!--  <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>        -->
        
        <div class="col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1">
            
            <div class="panel panel-primary">

                <div class="panel-heading">
                  <h3 class="panel-title">Nível {{getLevel()}}</h3>
                </div>  

                <div class="panel-body">
                    
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4">
                            <span style="margin: 1%; width: 100%;" 
                                  class="btn btn-{{isPlaying() ? 'danger' : 'success'}}"
                                  ng-class="{'disabled': !isReadyToPlay()}"
                                  ng-click="playAudio()">

                                <span style="font-size: 80%" class="glyphicon glyphicon-{{isPlaying() ? 'pause' : 'play'}}"></span>
                                
                            </span>
                        </div>
                    </div>

                    <!-- <p>Escolha a imagem abaixo que representa o som:</p> -->
                    
                    <br/>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">

                            <img ng-repeat="i in getImages()"
                                 ng-click="selectImage($index)"
                                 class="col-centered thumbnail"
                                 ng-class="{'selected-image': isSelected($index)}"
                                 src="images/get/{{i}}" 
                                 data-holder-rendered="true"
                                 style="width: 48%; display: inline-block; margin: 1%;">
                        </div>
                    </div>

                </div>    
            </div>
            
        </div>
    </div>

<script src="/js/controllers/levelsCtrl.js"></script>
<% include ../includes/footer %>