<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <title><%= settings.title %></title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/angular.min.js"></script>

</head>

<body>
    
    <div class="container-fluid menu">
        <div class="row">
            <div class="col-xs-5 col-sm-4">
                <h1><a href="/"><%= settings.title %></a></h1>
            </div>
            
            <div class="col-xs-6 col-xs-offset-1 col-sm-4 col-sm-offset-4">
                <div class="menu-buttons">
                    <a href="/level" class="btn btn-success" role="button">Iniciar</a>
                    <a href="/images" class="btn btn-default" role="button">Imagens</a>
                    <a href="/sounds" class="btn btn-default" role="button">Sons</a>
                </div>
            </div>
        </div>
    </div>